.open {
  width: 100%;
  height: 100%;
}

.close {
  width: 0;
  height: 0;
}

.openTV {
  width: 100%;
  height: 100%;
}

.closeTV {
  width: 0;
  height: 0;
}

.transition {
  transition: height 0.3s ease, width 0.3s ease;
  overflow: hidden;
}

/* @keyframes open {
  from {
    transform-origin: top;
    transform: 
  }
  to {
    transform: scaleY(1);
  }
} */
