.notification {
  position: fixed;
  bottom: 20%;
  right: 0;
  left: 0;
  z-index: 200;
  margin: auto;
  width: fit-content;
  height: 1.5rem;
  background-color: #1a8ed1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 10%;
  align-items: center;
  color: white;
  border-radius: 0.5rem;
}

.notification h2,
.notification p {
  font-size: 1rem;
  margin: 0;
}

.error {
  background-color: #c30f0f;
}

.success {
  background-color: #2cc18f;
}
