@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

@layer base {
  h1 {
    font-family: Poppins, sans-serif;
  }
  button:focus {
    outline: 0;
  }
  body {
    @apply dark:bg-gray-800 bg-white;
  }
  h1, h2 {
    @apply text-black dark:text-white;
  }
}